/* CSS Document */
/*利用id选择器设置每个单元格中的背景色*/
#id1{
	background-color:#EFD9D9;
}
#id2{
	background-color:#F7A8A9;
}
#id3{
	background-color:#FA8284;
}
#id4{
	background-color:#F85154;
}
#id5{
	background-color:#F71619;
}
#id6{
	background-color:#FB0408;
}
#id7{
	background-color:#F5EDDC;
}
#id8{
	background-color:#FADF76;
}
#id9{
	background-color:#ECAC2A;
}
#id10{
	background-color:#FAAF03;
}
#id11{
	background-color:#A6F117;
}
#id12{
	background-color:#AD9BF4;
}
#id13{
	background-color:#36BB70;
}
#id14{
	background-color:#3289CC;
}
#id15{
	background-color:#05F5E0;
}
#id16{
	background-color:#5F8A41;
}
#id17{
	background-color:#3A90A7;
}
#id18{
	background-color:#943257;
}
#id19{
	background-color:#9225A9;
}
#id20{
	background-color:#9A7581;
}
#id21{
	background-color:#4B84AB;
}
#id22{
	background-color:#000000;
}
#id23{
	background-color:#310606;
}
#id24{
	background-color:#9635AB;
}
#id25{
	background-color:#AF315E;
}
#id26{
	background-color:#449652;
}
#id27{
	background-color:#211B8F;
}
#id28{
	background-color:#2D6412;
}
#id29{
	background-color:#6112C0;
}
#id30{
	background-color:#24CF62;
}
#id31{
	background-color:#8D11D7;
}
#id32{
	background-color:#F216C7;
}
#id33{
	background-color:#2045DF;
}
#id34{
	background-color:#70F709;
}
#id35{
	background-color:#0415F1;
}
#id36{
	background-color:#C409F2;
}
#id37{
	background-color:#3A0405;
}
#id38{
	background-color:#069CF9;
}
#id39{
	background-color:#915E9C;
}
#id40{
	background-color:#7D1618;
}
#id41{
	background-color:#5CAE5D;
}
#id42{
	background-color:#B39394;
}
#id43{
	background-color:#8E64DB;
}
#id44{
	background-color:#45669E;
}
#id45{
	background-color:#7127AC;
}
#id46{
	background-color:#000000;
}
#id47{
	background-color:#A32527;
}
#id48{
	background-color:#6C9F62;
}
#id49{
	background-color:#5AC48B;
}
#id50{
	background-color:#8546A3;
}
#id51{
	background-color:#AAEC1B;
}

