/*设置主体第一部分*/
.main{position: relative;border-bottom: 2px solid #EEEEEE;padding-bottom: 107px;}
.main .onePart{height: 66px;margin-top: 47px;position:relative;}
/*设置logo样式*/
.main .onePart .logo{width: 12%;position: absolute;left: 366px;display: inline-block;}

/*设置表单*/
.main .onePart .logo .form{position: relative;left: 552px;top: -27px;width: 100%;}
.main .onePart .logo .form form .search{width: 176%;position: absolute;left: -13px;height: 85%;top: -15px;border: none;}
.main .onePart .form form .rent{background: #F8F8F8;margin-right: -4px;width: 33%;height: 97%;position: absolute;left: -91px;text-align: left;top: -16px;
border: 1px solid;border: none;border-right: 2px solid #F4F4F4;top: -15px; cursor:pointer; cursor:pointer;}
.main .onePart .form form .find{background-color: #ff552e;height: 121%;border: none;width: 43%;color: #fff;font-size: 16px;cursor: pointer;text-align: center;position: relative;left: 327px;line-height: 42px;top: -15px;}
/*表单边框*/
.main .onePart .logo .kuang{height: 50%;width: 254%;position: absolute;left: 459px;top: -2px;border: 2px red solid;}

/*免费发布链接*/
.main .onePart .logo .form .publish{width: 43%;height: 42px;color: #ff552e;background: #ffefe7;line-height: 42px;text-align: center;font-size: 16px;position: absolute;top: -15px;left: 578px;text-decoration: none;}

/*设置第一部分的第二行字体*/
.main .onePart .secondLine{font-size: 12px;color: #999;width: 100%;position: absolute;top: 52px;left: 32px;}
.main .onePart .secondLine span{cursor:pointer;}
.main .onePart .secondLine span:hover{color:red;}

/*设置第二部分*/
.main .twoPart{width: 100%;position: relative;top: 10px;}
.main .twoPart ul{margin-left: -40px;}
.main .twoPart ul li{list-style:none;}
/*设置图片*/
.main .twoPart ul li a img{width:100%;}

.main .twoPart ul li{ display:none;}

/*设置第三部分*/
.main .threePart{background: url(images/white.jpg) no-repeat;width:65%;height: 515px;position: relative;top: -184px;left: 0px;opacity: 0.9;}
#cd{position: absolute;left: 470px;top: -115px;color: black;font-size: 81px;letter-spacing: 35px;font-weight: bold;}

.main .threePart .firstPart{width: 31%;height: 91%;position: absolute;left: 18px;top: 10px;border: 1px solid #ececec;}
.main .threePart .firstPart table tr td img{width: 100%;}

.main .threePart .secondPart{width: 31%;height: 91%;border: 1px solid #ececec;margin-left: 486px;position: absolute;left: -58px;top: 9px;}
.main .threePart .secondPart table tr td img{width: 100%;}

.main .threePart .thirdPart{width: 31%;height: 91%;border: 1px solid #ececec;margin-left: 500px;position: absolute;left: 335px;top: 9px;}
/*插入字体和符号部分*/
.main .threePart .firstPart .firstFont{width: 20%;font-size: 24px;color: #000;position: absolute;left: 256px;top: 67px; cursor:pointer;}
.main .threePart .firstPart .radius{width: 76px;height: 20px;font-size: 12px;line-height: 20px;margin-top: 7px;display: block;border: 1px solid #aaa;border-radius: 100px;text-align: center;color: #4a4a4a;position: absolute;left: 256px;top: 99px;cursor: pointer;}
.main .threePart .firstPart .radius:hover{background:red;color:white;}
.main .threePart .firstPart .radius .i{ background:url(../images/pc-catelist-icon.png) no-repeat;display: inline-block;width: 8px;height: 9px;background-size: 100%;-webkit-background-size: 100%;-moz-background-size: 100%;-ms-background-size: 100%;margin-left: 3px;}
.main .threePart .firstPart .oneTable tr td a .ii{background:url(../images/pc-catelist-icon.png) no-repeat;display: inline-block;width: 8px;height: 9px;background-size: 100%;-webkit-background-size: 100%;-moz-background-size: 100%;-ms-background-size: 100%;margin-left: 3px;}
/*background:url(images/pc-catelist-icon.png) no-repeat;margin-left: 3px;width: 8px;height: 9px;font-style: italic;display: inline-block;*/
/*第三部分的第二部分*/

.main .threePart .secondPart .twoTable{text-align: center;line-height: 40px;}
.main .threePart .secondPart .twoTable tr td img{width: 111%;margin-left: -19px;margin-top: -8px;}
.main .threePart .secondPart .twoTable tr .font{background:#F3F6F9;font-size: 14px;color: #4a4a4a;text-decoration: none;cursor: pointer;}
.main .threePart .secondPart .twoTable tr td a{text-decoration:none;color:inherit;}

/*插入字体和符号部分*/
.main .threePart .secondPart .firstFont{width: 20%;font-size: 24px;color: #000;position: absolute;left: 256px;top: 67px; cursor:pointer;}
.main .threePart .secondPart .radius{width: 76px;height: 20px;font-size: 12px;line-height: 20px;margin-top: 7px;display: block;border: 1px solid #aaa;border-radius: 100px;text-align: center;color: #4a4a4a;position: absolute;left: 256px;top: 99px;cursor: pointer;}
.main .threePart .secondPart .radius:hover{background:red;color:white;}
.main .threePart .secondPart .radius .i{ background:url(../images/pc-catelist-icon.png) no-repeat;display: inline-block;width: 8px;height: 9px;background-size: 100%;-webkit-background-size: 100%;-moz-background-size: 100%;-ms-background-size: 100%;margin-left: 3px;}
.main .threePart .secondPart .twoTable tr td a .ii{background:url(../images/pc-catelist-icon.png) no-repeat;display: inline-block;width: 8px;height: 9px;background-size: 100%;-webkit-background-size: 100%;-moz-background-size: 100%;-ms-background-size: 100%;margin-left: 3px;}
/*第三部分的第二部分结束*/
/*第三部分的第一部分*/
.main .threePart .firstPart .oneTable{text-align: center;line-height: 40px;}
.main .threePart .firstPart .oneTable tr td img{width: 101%;margin-left: -2px;margin-top: 8px;}
.main .threePart .firstPart .oneTable tr .font{background:#F3F6F9;font-size: 14px;color: #4a4a4a;text-decoration: none;cursor: pointer;}
.main .threePart .firstPart .oneTable tr td a{text-decoration:none;color:inherit;}

/*第三部分的三部分*/
.main .threePart .thirdPart .threeTable{text-align: center;line-height: 40px;} 
.main .threePart .thirdPart .threeTable tr td img{width: 101%;margin-left: -2px;margin-top: 8px;}
.main .threePart .thirdPart .threeTable tr .font{background:#F3F6F9;font-size: 14px;color: #4a4a4a;text-decoration: none;cursor: pointer;}
.main .threePart .thirdPart .threeTable tr td a{text-decoration:none;color:inherit;}

/*插入字体和符号*/
.main .threePart div table tr td{cursor:pointer;}
.main .threePart .thirdPart .firstFont{width: 27%;font-size: 24px;color: #000;position: absolute;left: 256px;top: 67px; cursor:pointer;}
.main .threePart .thirdPart .radius{width: 76px;height: 20px;font-size: 12px;line-height: 20px;margin-top: 7px;display: block;border: 1px solid #aaa;border-radius: 100px;text-align: center;color: #4a4a4a;position: absolute;left: 256px;top: 99px;cursor: pointer;}
.main .threePart .thirdPart .radius:hover{background:red;color:white;}
.main .threePart .thirdPart .radius .i{ background:url(../images/pc-catelist-icon.png) no-repeat;display: inline-block;width: 8px;height: 9px;background-size: 100%;-webkit-background-size: 100%;-moz-background-size: 100%;-ms-background-size: 100%;margin-left: 3px;}
.main .threePart .thirdPart .threeTable tr td a .ii{background:url(../images/pc-catelist-icon.png) no-repeat;display: inline-block;width: 8px;height: 9px;background-size: 100%;-webkit-background-size: 100%;-moz-background-size: 100%;-ms-background-size: 100%;margin-left: 3px;}

/*设置hover*/
.main .threePart .secondPart .twoTable tr .font:hover{color:white;background:red;}
.main .threePart .firstPart .oneTable tr .font:hover{color:white;background:red;}
.main .threePart .thirdPart .threeTable tr .font:hover{color:white;background:red;}
.main .threePart .secondPart .twoTable tr td a:hover{font-size:18px;}
.main .threePart .firstPart .oneTable tr td a:hover{font-size:18px;}
.main .threePart .thirdPart .threeTable tr td a:hover{font-size:18px;}

/*设置第三部分的第四部部分*/
.main .threePart .fourthPart{position: absolute;width: 550px;top: 513px;left: 23px;}
.main .threePart .fourthPart img{width: 580px;}
/*设置第三部分的第五部分*/
.main .threePart .fifthPart{width: 580px;position: absolute;left: 618px;top: 513px;margin-left: 18px;}
.main .threePart .fifthPart img{width: 580px;}

/*设置第四小部分的字体*/
.main .threePart .fourthPart .font{position: absolute;left: 46px;top: 50px;}
.main .threePart .fourthPart .font .big{font-size: 24px;color: #333;cursor: pointer;}
.main .threePart .fourthPart .font .small{font-size: 12px;color: #999;cursor: pointer;}
.main .threePart .fourthPart .font .enter{width: 103px;height: 28px;line-height: 28px;margin-top: 24px;font-size: 14px;color: #333;display: block;border: 1px solid #aaa;border-radius: 100px;text-align: center;cursor: pointer;}
.main .threePart .fourthPart .font .enter .i{background:url(../images/pc-catelist-icon.png) no-repeat;font-style: italic;display: inline-block;width: 8px;height: 9px;background-size: 100%;-webkit-background-size: 100%;-moz-background-size: 100%;-ms-background-size: 100%;margin-left: 3px;}

.main .threePart .fourthPart .font .enter:hover{color:white;background:red;}

/*第三部分的第五小部分字体*/
.main .threePart .fifthPart .font{position: absolute;left: 46px;top: 50px;}
.main .threePart .fifthPart .font .big{font-size: 24px;color: #333;cursor: pointer;}
.main .threePart .fifthPart .font .small{font-size: 12px;color: #999;cursor: pointer;}
.main .threePart .fifthPart .font .enter{width: 103px;height: 28px;line-height: 28px;margin-top: 24px;font-size: 14px;color: #333;display: block;border: 1px solid #aaa;border-radius: 100px;text-align: center;cursor: pointer;}
.main .threePart .fifthPart .font .enter .i{background:url(../images/pc-catelist-icon.png) no-repeat;font-style: italic;display: inline-block;width: 8px;height: 9px;background-size: 100%;-webkit-background-size: 100%;-moz-background-size: 100%;-ms-background-size: 100%;margin-left: 3px;}

.main .threePart .fifthPart .font .enter:hover{color:white;background:red;}

/*设置第三部分样式结束*/

/*设置第四部分（广告）*/
.main .fourPart{background: #fff;height: auto;margin: 10px auto 10px;overflow: hidden;width: 1024px;position: relative;padding: 0;color: #999;font-size: 14px;font-family: -apple-system,BlinkMacSystemFont,"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif,arial,Tahoma,SimSun,sans-serif;left: 20px;top: 40px;}
.main .fourPart span{margin-left:30px;line-height: 38px;cursor:pointer;}
.main .fourPart .big{left: 0px;font-size: 17px;top: 0px;line-height: 32px;height: 32px;width: 105.667px;background-color: rgb(255, 255, 255);font-weight: bold;border-color: rgb(255, 255, 255);border-width: 0px;border-style: solid;color: #555;}
/*设置hover*/
.main .fourPart .hovers:hover{font-weight:bold;font-size:18px;color:#444;!important}
.main .fourPart .close{position: relative;left: 1003px;top: -111px;background: #888;height: 20px;cursor:pointer;}

/*设置广告部分结束*/

/*设置第五部分*/
.main .fivePart{position: relative;left: 356px;top: 60px;color: #999;}
.main .fivePart .firstPart .h4{font-size: 15px;color: #333;margin: 30px 0 10px;}
.main .fivePart .secondPart .h4{font-size: 15px;color: #333;margin: 30px 0 10px;}
.main .fivePart .thirdPart .h4{font-size: 15px;color: #333;margin: 30px 0 10px;}
.main .fivePart div span{cursor:pointer;}
.main .fivePart .secondPart sapn a:hover{color:red;}
.main .fivePart div span{color: #999;font-size: 12px;}
.main .fivePart div span a{text-decoration:none;color: inherit;}
.main .fivePart .secondPart span{margin-left:125px;line-height: 34px;}
.main .fivePart .secondPart .one{margin-left:0px;}
.main .fivePart .secondPart span:hover{color:red;}
.main .fivePart .thirdPart{color:#EFF2F7;}
.main .fivePart .thirdPart span{margin-left:15px;margin-right:15px;}
.main .fivePart .thirdPart .one{margin-left:0px;}
.main .fivePart .thirdPart span:hover{color:red;}
/*设置第五部分*/