/* CSS Document */
#div1{
	border: solid 1px #BFBABA;
	border-top: solid 2px #12457C;
	width: 610px;
}
#div2{
	margin-left: 10px;
	width: 590px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #CECECE;
}
#div3{
	margin-top: 20px;
	margin-left: 20px;
	width: 590px;
	
}
#div4{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
#font1{
	font-size: 25px;
}
#font2,#font3{
	font-size: 10px;
}
#font3{
	color: red;
}
a:link{
	text-decoration: none;
	color: red;
}
