/* CSS Document */

*{
	margin:0;
	border: solid;
}
body{
	padding: 0;
}
div{
	display: inline-block;
}
#div1,#div3,#div4,#div6,#div7,#div9{
	width: 35%;
}
#div2,#div8{
	width: 30%;
}
#div1,#div3,#div4,#div6{
	height: 50px;
}
#div2{
	height: 100px;
}