/* CSS Document */
#div1{
	border: solid #ADADAD 1px;
	width: 220px;
}
#div2{
	background-color: #DDDDDD;
	padding-left: 10px;
	height: 25px;
	line-height: 25px;
}
#div3{
	border: solid #ADADAD 1px;
	width: 180px;
	height: 180px;
	margin-left: 20px;
	margin-top: 20px;
}
#div4{
	text-align: center;
	width: 180px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: dotted #ADADAD 1px;
	margin-left: 20px;
}
#div5{
	width: 160px;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}
input{
	margin-top:5px;
}
